/* IMPOSTAZIONI GENERALI */
.body,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}
.body {
  text-align: center;
  color: #393d41;
  font-family: opensans;
  line-height: 1.65;
}
/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
